
html, body {
  width: 100%;
  height: 100%;
  background: #e4e2da;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

b {
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding: 12px;
  text-transform: uppercase;
  color: #666;
  opacity: 0;
  transform: translate3d(0,-30px,0);
  -moz-transform: translate3d(0,-30px,0);
  -webkit-transform: translate3d(0,-30px,0);
}
.loaded h1 {
  opacity: 1;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
h1 b {
  color: #01abdb;
}

.clear {
  clear: both;
}

.btn {
  background: #01abdb;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background: #fd9e05;
}

.anim {
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

#browseBtn {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  padding-left: 30px;
  opacity: 0;
  z-index: 99;
}
.loaded #browseBtn {
  left: 10px;
  opacity: 1;
}
#browseBtn:before {
  position: absolute;
  display: block;
  content: "";
  border: 5px solid transparent;
  border-right: 5px solid #FFF;
  left: 10px;
  top: 13px;
}

#drawBtn {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  padding-right: 30px;
  opacity: 0;
  z-index: 99;
}
.loaded #drawBtn {
  right: 10px;
  opacity: 1;
}
#drawBtn:before {
  position: absolute;
  display: block;
  content: "";
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
  right: 10px;
  top: 13px;
}

#drawBox {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  background: #EEE;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  opacity: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
}
.loaded #drawBox {
  opacity: 1;
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
}
#drawBox.active {
  background: #FFF;
  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

#drawBox .pres {
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  text-align: center;
  color: #666;
  z-index: 2;
}
#drawBox .pres.hidden {
  opacity: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
}

#drawBox .pres p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}
#drawBox .pres p b {
  color: #01abdb;
}

#drawBox .compte {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 80px;
  z-index: 1;
  color: #999;
}
#drawBox .compte p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .1s ease;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  opacity: 0;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}
#drawBox .compte p.active {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

#drawBox .bottom {
  position: absolute;
  left: 0;
  top: 400px;
  width: 100%;
  height: 40px;
}
#drawBox .bottom > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#drawBox .bottom .back {
  background: #01abdb;
  transition: all 12s linear;
  -moz-transition: all 12s linear;
  -webkit-transition: all 12s linear;
  width: 0%;
  box-shadow: 0 0 30px rgba(0,171,219,0.3);
}
#drawBox .bottom.progress .back {
  width: 100%;
}

#drawBox .bottom .front {
  opacity: 0;
  visibility: hidden;
}
#drawBox .bottom.end .front {
  opacity: 1;
  color: #FFF;
  visibility: visible;
}

#drawBox .bottom .front input[type=text] {
  background: none;
  border: none;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  color: #FFF;
  font-size: 16px;
  height: 20px;
  width: 180px;
  padding: 10px;
  outline: none;
}

#drawBox .bottom .front input[type=submit] {
  border: none;
  cursor: pointer;
}

#drawBox .bottom .front .btn {
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  margin: 0;
  display: block;
  float: right;
}

#drawBox .bottom .front .formError {
  background: #ff3300;
  color: #FFF;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
}
#drawBox .bottom .front .formError.show {
  top: 50px;
  opacity: 1;
}

::-webkit-input-placeholder { color:#FFF; opacity: 0.5; }
::-moz-placeholder { color:#FFF; opacity: 0.5; } 
:-ms-input-placeholder { color:#FFF; opacity: 0.5; } 
input:-moz-placeholder { color:#FFF; opacity: 0.5; }

#drawStage {
  width: 600px;
  height: 400px;
}

.categories {
  padding: 20px 50px;
  padding-top: 30px;
  opacity: 0;
  transform: translate3d(0,-10px,0);
  -moz-transform: translate3d(0,-10px,0);
  -webkit-transform: translate3d(0,-10px,0);
}
.loaded .categories {
  opacity: 1;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.categories p, .categories a {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.categories p {
  font-size: 24px;
  color: #666;
  line-height: 32px;
  margin-right: 30px;
}

.categories a {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #666;
  text-decoration: none;
}
.categories a:hover {
  color: #01abdb;
}
.categories a.selected {
  background: #01abdb;
  color: #FFF;
}

.drawsList {
  padding: 10px 30px;
  opacity: 0;
  transform: translate3d(0,10px,0);
  -moz-transform: translate3d(0,10px,0);
  -webkit-transform: translate3d(0,10px,0);
}
.loaded .drawsList {
  opacity: 1;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.drawsList > a {
  display: block;
  width: 300px;
  height: 240px;
  background: #FFF;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.drawsList > a:hover {
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.drawsList > a svg {
  width: 600px;
  height: 400px;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  position: absolute;
  left: -150px;
  top: -100px;
}

.drawsList > a path, #detail path {
  fill: none; 
  stroke:#01abdb; 
  stroke-width: 5;
  transition: stroke .5s ease;
  -moz-transition: stroke .5s ease;
  -webkit-transition: stroke .5s ease;
}
.drawsList > a:hover path {
  stroke:#fd9e05; 
}

.drawsList > a .infos {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1;
  padding: 4px 10px;
  background: #01abdb;
  color: #FFF;
  font-size: 16px;
}
.drawsList > a:hover .infos {
  background: #fd9e05;
}
.drawsList > a .infos span {
  font-size: 12px;
  opacity: 0.6;
}

.drawsList > a .category, #detail .infos .category {
  display: block;
  float: right;
}

#detail .infos {
  position: absolute;
  bottom: -50px;
  height: 50px;
  left: 0;
  width: 100%;
  background: #01abdb;
  color: #FFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px 10px;
  font-size: 18px;
}
#detail .infos span {
  font-size: 16px;
  opacity: 0.6;
}

.pagination {
  margin: 20px 0;
  text-align: center;
}
.pagination .btn {
  position: relative;
}
.pagination .next {
  padding-right: 30px;
}
.pagination .next:before {
  position: absolute;
  display: block;
  content: "";
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
  right: 10px;
  top: 14px;
}
.pagination .prev {
  padding-left: 30px;
}
.pagination .prev:before {
  position: absolute;
  display: block;
  content: "";
  border: 5px solid transparent;
  border-right: 5px solid #FFF;
  left: 10px;
  top: 14px;
}

footer {
  font-size: 12px;
  color: #666;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translate3d(0,10px,0);
  -moz-transform: translate3d(0,10px,0);
  -webkit-transform: translate3d(0,10px,0);
}
.loaded footer {
  opacity: 1;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
footer a {
  color: #666;
}

#detail {
  position: fixed;
  z-index: 999;
  background: rgba(0,0,0,0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
}

#detail.show {
  opacity: 1;
}

#detail .content {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  background: rgba(255,255,255,0.6);
}
#detail .content.loaded {
  background: #FFF;
}

#detail .content > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#detail .content.loaded > div {
  opacity: 1;
}

#detail .close {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 250px;
  margin-top: -255px;
  width: 50px;
  line-height: 50px;
  font-size: 80px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  font-family: Arial, Helvetica;
}